<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configurações</title>
</head>
<body>
    <h1>Configurações ⚙️</h1>
    <p>😄 Personalize seu Financial Manager da maneira que Desejar 😄</p>
    <ul>
        <li>Personalizar Perfil</li>
        <li>Moeda Padrão e Fuso Horário</li>
        <li>Preferências de Notificação</li>
        <li>Alteração de Dados Cadastrais</li>
    </ul>
    <li><a href="{% url 'home' %}">Home</a></li>
</body>
</html>
