<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>👋 Bem vindo ao Financial Manager</h1>
    
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'cash_flow' %}">Cash Flow</a></li>
            <li><a href="{% url 'investimentos' %}">Investimentos</a></li>
            <li><a href="{%  url 'settings' %}">Configurações</a></li>
        </ul>
    </nav>
    
    {% block body %}{% endblock %}
</body>
</html>
